.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 80px 0;
}

.popular h1 {
    color: #171717;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
    margin-bottom: 50px;
}

.popular-items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.popular-items img {
    width: 380px; /* Increase width slightly */
    max-width: 620px; /* Increase max-width slightly */
    height: auto; /* Ensure height is auto */
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 20px; /* Make edges more rounded */
}

.popular-item {
    width: 360px; /* Set width to 360px */
    text-align: center; /* Center text */
}

.popular-item .price, .popular-item .item {
    display: block; /* Arrange price and item vertically */
    margin: 10px 0; /* Add margin for spacing */
}

.popular a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
    font-weight: bold; /* Make links bold */
}

.popular a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .popular h1 {
        font-size: 2.5rem;
    }
    .popular hr {
        width: 120px;
        height: 4px;
    }
    .popular-items {
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .popular h1 {
        font-size: 2rem;
    }
}
